<div class="text-left song-list">


  <div class="search-area">
    <div class="font-bold text-left welcome-description">

    </div>
    <div class="searchText">
      <input name="searchText" id="searchText" class="form-control form-control-lg" type="text" ng-model="search.q" placeholder="Name, artist, etc...">
      <div class="select-area">
        <div class="checkbox">
          <label><input type="checkbox" name="typeSearch" class="typeSearch" ng-model="search.selectedType" value="title">Search only on Title song's </label>
        </div>
      </div>
      <hr>
    </div>
    <a class="btn btn-primary mb-2 search-button" ng-click="$ctrl.searchList(search)">Search</a>
    <div class="clearfix"></div>
    <div class="table-results text-center" ng-if="$ctrl.songs">
      <span>Showing results for {{$ctrl.storedSearch.q}}</span>
      <span>Total of <b> {{$ctrl.totalResults}}</b> results.</span>
    </div>
 </div>

  <div class="list-body">
    <h1 class="title">See our list</h1>
    <div class="table-responsive">
      <div ng-show="$ctrl.loaderList" class="preloader"></div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">
            <span>Artist</span>
            <div class="order-area" ng-show="$ctrl.songs">
              <a ng-model="search.order" ng-value="asc" ng-click="$ctrl.searchList(search, 'asc','artist')">
                <i class="fa fa-angle-up"></i>
              </a>
              <a ng-model="search.order" ng-value="desc" ng-click="$ctrl.searchList(search, 'desc','artist')">
                <i class="fa fa-angle-down"></i>
              </a>
            </div>
          </th>
          <th scope="col">
            <span>Title</span>
            <div class="order-area" ng-show="$ctrl.songs">
              <a ng-model="search.order" ng-value="asc" ng-click="$ctrl.searchList(search, 'asc','title')"><i class="fa fa-angle-up"></i></a>
              <a ng-model="search.order" ng-value="desc" ng-click="$ctrl.searchList(search, 'desc','title')"><i class="fa fa-angle-down"></i></a>
            </div>
          </th>
          <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr class="song-item" ng-repeat="song in $ctrl.songs" ng-click="$ctrl.viewDetails(song.id)">
          <td>
            <span>{{song.artist}}</span>
          </td>
          <td ng-bind="song.title"></td>
          <td><span ng-bind="song.year"></span></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
