<div class="song-details">
  <h1 class="font-bold">List of your Favorite Songs</h1>
  <div class="no-results" ng-if="$ctrl.noFavorites">
    <span>There are no Favorites in your list.</span>
  </div>
  <div class="favorite-list" ng-if="!$ctrl.noFavorites">
    <div class="song-detail-wrapper" ng-repeat="song in $ctrl.existentFavorites">
      <div class="thumb-area">
        <img ng-src="{{song.imgUrl}}" />
      </div>
      <div class="description-area">
        <div class="line-descr">
         <span class="title-value"><b>{{song.artist}}</b> - {{song.title}}</span>
        </div>
        <div class="line-descr">
          <span class="title-label">Year: </span>
          <span class="title-value">{{song.year}}</span>
        </div>
      </div>
      <div class="button-area">
        <a class="remove" ng-click="$ctrl.removeFav(song)">
          <i class="fa fa-remove"></i>
          <span>Remove</span>
        </a>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <hr/>
</div>
